.row2{
    justify-content: space-between;
    margin: 100px auto 50px;
   
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
    
}
.row{
    justify-items: right;
    place-items: right;
}
select:focus{
    outline: none;
}